* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* shared style */
.btn {
    background-color:#30B868 ;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 4px;
    width: 164px;
    height: 44;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 16px 12px 16px;  
}

/* main style */
header {
    background-color:var(--#FFFFFF, rgba(255, 255, 255, 1));
    padding: 16px 120px 16px 120px;
}

nav
{
    width: 1600px;
    height: 92px;
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
}
nav .menu{
    width: 365px;
    height: 24px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 32px ;
}

nav .menu a {
    text-decoration: none ;
    margin: auto;
 
}
